.vs/
__pycache__/
docs/build/
python/docs/build/
testing/Open Command Prompt Here.bat
testing/QLabs Validation Report.xlsx
read_the_docs_venv.bat
testing/~$QLabs Validation Report.xlsx
testing/Open Factory Validation Report.xlsx
testing/QCar Validation Report.xlsx
testing/~$QCar Validation Report.xlsx
testing/~$Open Factory Validation Report.xlsx
python/testing/Open Command Prompt Here.bat
python/testing/QCar Validation Report.xlsx
python/testing/~$QCar Validation Report.xlsx
python/testing/Open Factory Validation Report.xlsx
matlab/qvl/qlabs_free_camera.asv
*.asv
matlab/testing/frame.jpg
spawn_models/QBotPlatform/QBotPlatform_Workspace.rt-win64
*.autosave
spawn_models/QBotPlatform/slprj/
spawn_models/QBotPlatform/QBotPlatform_Workspace_quarc_win64/

spawn_models/QBotPlatform/QBotPlatform_Workspace.slxc
python/testing/QBot Validation Report.xlsx
python/testing/~$QBot Validation Report.xlsx
spawn_models/Aero2/Aero2_Workspace_quarc_win64/
spawn_models/Aero2/Aero2_Workspace.rt-win64
spawn_models/Aero2/Aero2_Workspace.slx.r2022b
spawn_models/Aero2/Aero2_Workspace.slxc
spawn_models/Aero2/Aero2_Workspace.zip
spawn_models/Aero2/slprj/
spawn_models/Aero2/Aero2_Workspace_quarc_linux_x86_64/
spawn_models/Qube3/QubeServo3Disk_Workspace.rt-win64
spawn_models/Qube3/QubeServo3Disk_Workspace.slxc
spawn_models/Qube3/QubeServo3Disk_Workspace_quarc_win64/
spawn_models/Qube3/slprj/
